<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Poll List</h1>

      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default" (click)="createPoll()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">New Poll</span>
          </button>
          <a ></a>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control">
        </div>
      </div>

    </div>
  </div>
</div>