

<div class="container">
 
  <div class="row">
    <div class="col-sm-8">
      <hr>
      <div class="well well-lg" role="alert">
        <h4><b>Question:</b></h4>
        {{poll}}
      </div>
      <h2 id="selecOption">Please select One of the option</h2>
      <div class="options" *ngFor="let option of options;let i=index">
        <label class="checkbox-inline"><input type="radio" name="op" [value]="options" (click)="getOption(option)" [checked]="i===0" >{{option}}</label>
        <br>
      </div>
    </div> 
  </div>
<br><br>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left" (click)="indexPoll()">Back TO PollList</button>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <button type="button" class="btn btn-primary" (click)="selectOption(pollId,op)" >Vote</button>
    </div>  
<p>Total no of vote:{{totalVote}}</p>


</div>
